<div class="row">
  <div class="col-6">
    <h1 class="page-title">All Videos</h1>
  </div>
  <div class="col-6 text-right">
    <a routerLink="/panel/video/add-video" mat-raised-button color="primary">Add new</a>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <!-- Client Name -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="portals">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Portals </th>
    <td mat-cell *matCellDef="let row"> <!-- {{row.portalId.map(p => p.portalName).join()}} --> </td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="categories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let row"> {{row.categoryId.join()}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let row">
      <a matTooltip="Edit Video" mat-icon-button color="primary" [routerLink]="['/panel/video/edit-video', row.videoId]">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </a> &nbsp;
      <a matTooltip="Delete Video" (click)="deleteVideo(row.videoId)" mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
