<main>

  <section class="login-section">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card class="example-card">
        <mat-progress-bar [hidden]="!showProgressBar" class="loginProgressBar" mode="indeterminate"></mat-progress-bar>
        <mat-card-header>
          <mat-card-title>Login to your account</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="form-field-block">
            <input formControlName="email" matInput placeholder="Email">
            <mat-error *ngIf="loginForm.controls.email.invalid">
              Please enter your email
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-block">
            <input formControlName="password" matInput type="password" placeholder="Password">
            <mat-error *ngIf="loginForm.controls.password.invalid">
              Please enter your password
            </mat-error>
          </mat-form-field>
          <br>
          <div *ngIf="loginFail" class="text-danger">{{loginErrMsg}}</div>
          <br>
          <a routerLink="/login/verify-email">Forgot password ?</a>
          <br>
          <br>
          <button [disabled]="loginForm.invalid || showProgressBar" type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-content>
      </mat-card>
    </form>
  </section>
</main>
