<div class="row">
  <div class="col-6">
    <h1 class="page-title">{{isNewClient ? 'Create New Client' : 'Edit Client'}}</h1>
  </div>
  <div class="col-6 text-right">
    <a type="button" mat-raised-button color="primary" [routerLink]="['/panel/user-account/all-clients']">All Clients</a>
  </div>
</div>

<mat-card [hidden]="!showClientForm">

  <!-- client info -->

  <mat-card-header>
    <mat-card-title>Clinet Info</mat-card-title>
    <mat-card-subtitle>Fields marked as * are required</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="createNewClient()" [formGroup]="clientForm">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="clientName" matInput placeholder="Client Name *">
            <mat-error *ngIf="clientForm.controls.clientName.invalid">
              <span>Please enter client name</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="email" type="email" matInput placeholder="Email *">
            <mat-error *ngIf="clientForm.controls.email.invalid">
              <span *ngIf="clientForm.controls.email.errors.required">Please enter email</span>
              <span *ngIf="clientForm.controls.email.errors.validateEmail">Please enter valid email</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="phone" type="tel" matInput placeholder="Phone *">
            <mat-error *ngIf="clientForm.controls.phone.invalid">
              <span *ngIf="clientForm.controls.phone.errors.required">Please enter phone number</span>
              <span *ngIf="clientForm.controls.phone.errors.validatePhone">Please enter valid phone number</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="domain" type="url" matInput placeholder="Url/Domain">
            <mat-error>
              <span *ngIf="clientForm.controls.domain.invalid && clientForm.controls.domain.errors.validateUrl">Please
                enter valid url</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input type="text" formControlName="billingCycle" matInput placeholder="Billing Cycle">
          </mat-form-field>
        </div>


        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="agreementTenure" type="number" matInput placeholder="Agreement Tenure (in months)">
            <mat-error>
              <span *ngIf="clientForm.controls.agreementTenure.invalid && clientForm.controls.agreementTenure.errors.validateUint">Agreement
                tenure should be in numbers</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <input formControlName="skypeId" type="text" matInput placeholder="SkypeId">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="form-field-block">
            <mat-select formControlName="assignedPortals" placeholder="Portal Assigned *" multiple>
              <mat-option *ngFor="let p of portalList" [value]="p.portalId">
                {{p.portalName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="clientForm.controls.assignedPortals.invalid">
              <span>Please select portals</span>
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-12">
          <mat-form-field class="form-field-block">
            <textarea formControlName="address" matInput placeholder="Address *"></textarea>
            <mat-error *ngIf="clientForm.controls.address.invalid">
              <span *ngIf="clientForm.controls.address.errors.required">Please enter address</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <br>
      <br>
      <input type="hidden" formControlName="clientId" />
      <div>
        <button type="submit" mat-raised-button color="primary">{{ isNewClient ? 'Create Client' : 'Update Client'}}</button>
      </div>
    </form>
  </mat-card-content>


</mat-card>

