.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

a.mat-raised-button:hover {
  text-decoration: none;
}

.mat-radio-group .mat-radio-button {
  margin-right: 11px;
}

.mat-select-readonly {
  cursor: not-allowed;
}

.mat-select-readonly>div {
  pointer-events: none;
}

.mat-select-readonly span.mat-select-value-text {
  color: #b1b1b1;
}
