@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

*{
  font-family: "Roboto";
}

body{
  padding: 0;
  margin: 0;
}

a {
  color: #1976d2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-field-block {
  display: block;
  width: 100%;
}

section.login-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: url('/assets/images/bg/login.jpg') no-repeat scroll center;
}

section.login-section form {
  flex-basis: 30%;
}

.page-title {
  font-size: 25px;
  margin: 0 0 30px 0;
  font-weight: 100;
}
