<mat-toolbar class="container-fluid" color="primary">
  <mat-toolbar-row>
    <span class="panel-name">CMS Panel</span>
    <button type="button" mat-icon-button color="primary" (click)="drawer.toggle()">
      <mat-icon class="color-white">dehaze</mat-icon>
    </button>
    <span class="toolbar-saparator"></span>
    <span class="">

      <button mat-button [matMenuTriggerFor]="userOptions">
        <mat-icon>arrow_drop_down</mat-icon> Gyan Parkash
      </button>
      <mat-menu #userOptions="matMenu">

        <button mat-menu-item>
          <i class="fas fa-user-tie"></i> Profile</button>

        <button mat-menu-item>
          <i class="fas fa-gear"></i> Setting</button>

        <button mat-menu-item>
          <i class="fas fa-sign-out-alt"></i> Logout</button>

      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar> -->

<mat-drawer-container autosize>
  <mat-drawer opened #drawer mode="side">
    <aside class="main-side-nav">
      <header class="side-nav-header">
        Gyan Parkash
      </header>
      <section class="side-nav-main">
        <mat-accordion>


          <!-- user account -->
          <mat-expansion-panel *ngFor="let menu of menuList">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <mat-icon class="nav-icon" *ngIf="menu.icon">{{menu.icon}}</mat-icon>
                 {{menu.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section>
              <ul *ngIf="menu.menuItems && menu.menuItems.length > 0" class="main-menu-group">

                <li *ngFor="let mItem of menu.menuItems">
                  <a class="main-menu-item" [routerLink]="[mItem.path]" routerLinkActive="active">{{mItem.name}}</a>
                </li>
              </ul>
            </section>
          </mat-expansion-panel>

        </mat-accordion>
      </section>
    </aside>

  </mat-drawer>

  <div class="sidenav-content">
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </div>

</mat-drawer-container>
