header.side-nav-header {
  padding: 20px 55px;
  text-align: left;
}

.sidenav-content {
  min-height: 89vh;
}

aside.main-side-nav {
  min-width: 250px;
}

.sidenav-content {
  padding: 50px;
  background-color: #f1f2f7;
}

ul.main-menu-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.main-menu-item {
  padding: 5px 6px;
  display: inline-block;
  width: 100%;
}

a.main-menu-item.active {
  position: relative;
  padding-left: 10px;
}

a.main-menu-item.active:before {
  content: '';
  display: block;
  height: 17px;
  width: 3px;
  position: absolute;
  left: 0;
  background: #197ad5;
}

.panel-name {
  min-width: 220px;
}

.toolbar-saparator {
  flex: 1 1 auto;
}

.mat-icon.nav-icon {
  font-size: 21px;
  color: gray;
  margin-right: 9px;
}
